{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main-content">
        <section class="main-content-cards">
            <!-- Upper body -->
            <article class="main-content-cards card">
                <header class="card-title">
                    <h1>Upper Body</h1>
                </header>
                <ul class="card-downloads">
                    <p><b>Download this Workout:</b></p>
                        <!-- Format files -->
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/csv.svg"%}" 
                                    alt=""
                                    title="Download your workout as CSV file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-pdf" 'admin-upper-body'%}">
                                <img class="card-downloads-icons"
                                    src="{%static "img/icons/file-formats/pdf.svg"%}" 
                                    alt=""
                                    title="Download your workout as PDF file.">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/txt.svg"%}" 
                                    alt=""
                                    title="Download your workout as TXT file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-xls" 'admin-upper-body' %}">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/xls.svg"%}" 
                                    alt=""
                                    title="Download your workout as Excel(XLS) file.">
                            </a>
                        </li>
                    </ul>
                    <hr class="section-break">

                <img id="Upperbody" class="card-icon" src="{% static 'img/icons/body_parts/upper-body (front).svg' %}" alt="Upper body">
                <a href="{% url "workout:myworkout" 'admin-upper-body' %}" class="card-cta"> <b>See the Workout!</b> </a>
            </article>

            <!-- Lower body -->
            <article class="main-content-cards card">
                <header class="card-title">
                    <h1>Lower Body</h1>
                </header>
                <ul class="card-downloads">
                    <p><b>Download this Workout:</b></p>
                        <!-- Format files -->
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/csv.svg"%}" 
                                    alt=""
                                    title="Download your workout as CSV file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-pdf" 'admin-lower-body'%}">
                                <img class="card-downloads-icons"
                                    src="{%static "img/icons/file-formats/pdf.svg"%}" 
                                    alt=""
                                    title="Download your workout as PDF file.">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/txt.svg"%}" 
                                    alt=""
                                    title="Download your workout as TXT file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-xls" 'admin-lower-body' %}">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/xls.svg"%}" 
                                    alt=""
                                    title="Download your workout as Excel(XLS) file.">
                            </a>
                        </li>
                    </ul>
                    <hr class="section-break">
                <img class="card-icon" src="{% static "img/icons/body_parts/legs.svg" %}" alt="Lower body">
                <a href="{% url "workout:myworkout" 'admin-lower-body' %}" class="card-cta"> <b>See the Workout!</b> </a>
            </article>

            <!-- Push Day -->
            <article class="main-content-cards card">
                <header class="card-title">
                    <h1>Push day</h1>
                </header>
                <ul class="card-downloads">
                    <p><b>Download this Workout:</b></p>
                        <!-- Format files -->
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/csv.svg"%}" 
                                    alt=""
                                    title="Download your workout as CSV file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-pdf" 'admin-push-day'%}">
                                <img class="card-downloads-icons"
                                    src="{%static "img/icons/file-formats/pdf.svg"%}" 
                                    alt=""
                                    title="Download your workout as PDF file.">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/txt.svg"%}" 
                                    alt=""
                                    title="Download your workout as TXT file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-xls" 'admin-push-day' %}">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/xls.svg"%}" 
                                    alt=""
                                    title="Download your workout as Excel(XLS) file.">
                            </a>
                        </li>
                    </ul>
                    <hr class="section-break">
                <img class="card-icon" src="{% static "img/icons/exercises/bench-press.svg" %}" alt="Push day">
                <a href="{% url "workout:myworkout" 'admin-push-day' %}" class="card-cta"> <b>See the Workout!</b> </a>
            </article>

            <!-- Pull Day -->
            <article class="main-content-cards card">
                <header class="card-title">
                    <h1>Pull day</h1>
                </header>
                <ul class="card-downloads">
                    <p><b>Download this Workout:</b></p>
                        <!-- Format files -->
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/csv.svg"%}" 
                                    alt=""
                                    title="Download your workout as CSV file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-pdf" 'admin-pull-day'%}">
                                <img class="card-downloads-icons"
                                    src="{%static "img/icons/file-formats/pdf.svg"%}" 
                                    alt=""
                                    title="Download your workout as PDF file.">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/txt.svg"%}" 
                                    alt=""
                                    title="Download your workout as TXT file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-xls" 'admin-pull-day' %}">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/xls.svg"%}" 
                                    alt=""
                                    title="Download your workout as Excel(XLS) file.">
                            </a>
                        </li>
                    </ul>
                    <hr class="section-break">
                <img class="card-icon" src="{% static "img/icons/exercises/pull-up.svg" %}" alt="Pull day">
                <a href="{% url "workout:myworkout" 'admin-pull-day' %}" class="card-cta"> <b>See the Workout!</b> </a>
            </article>

        </section>
    </main>
    <script>
        var imageUrls = [
            "{% static 'img/icons/body_parts/upper-body (front).svg' %}",
            "{% static 'img/icons/body_parts/upper-body (back).svg' %}",
        ];
    
        var currentIndex = 0;
    
        function changeImage() {
            var imageElement = document.getElementById("Upperbody");
            imageElement.src = imageUrls[currentIndex];
    
            currentIndex = (currentIndex + 1) % imageUrls.length;
        }
    
        setInterval(changeImage, 2500);
    </script>
    
{% endblock content %}
