{% load static %}
{% if is_search %}
    <div class="flex-container justify-right">
        <form action="" method="GET" class="filter-form">
            <select class="filter-form-select" name="filter_by">
                <option value=""><a href="?">---</a></option>
                <option value="bone"><a href="?filter_by=bone">Bones</a></option>
                <option value="joint"><a href="?filter_by=joint">Joints</a></option>
                <option value="muscle"><a href="?filter_by=muscle">Muscles</a></option>
            </select>
            <button type="submit" class="filter-cta">Filter</button>
        </form>
    </div>
{% else %}
    <div class="flex-container justify-right">
        <form action="" method="GET" class="filter-form">
            <select class="filter-form-select" name="is_spine_bone">
                <option value="0"><a href="?is_spine_bone=0">Show All Bones</a></option>
                <option value="1"><a href="?is_spine_bone=1">Show Vertebras</a></option>
                <option value="2"><a href="?is_spine_bone=2">All bones (except vertebra)</a></option>
            </select>
            <button type="submit" class="filter-cta">Filter</button>
        </form>
    </div>
{% endif %}
