{% load static %}
<div class="flex-container justify-right">
    <form action="" method="GET" class="filter-form">
        <select class="filter-form-select" name="is_spine_bone">
            <option value="0"><a href="?is_spine_bone=0">Show All Bones</a></option>
            <option value="1"><a href="?is_spine_bone=1">Show Vertebras</a></option>
            <option value="2"><a href="?is_spine_bone=2">All bones (except vertebra)</a></option>
        </select>
        <button type="submit" class="filter-cta">Filter</button>
    </form>

</div>

<script>
    function submitForm() {
        var selectedCategory = document.getElementById("category").value;
        alert("Selected category: " + selectedCategory);
        // You can perform further actions here, such as submitting the form to the server
    }
</script>