{% load static %}
<nav class="sidebar">
    <ul>
        <li><a href="{% url "workout:list-exercises" %}">Exercises</a></li>
        <li><a href="#">Workouts</a></li>
        <div class="flex-container centered-x">
            <hr class="section-break">
        </div>
        <li><a href="{% url "workout:list-bones" %}">Bones</a></li>
        <li><a href="{% url "workout:list-joints" %}">Joints</a></li>
        <li><a href="{% url "workout:list-muscles" %}">Muscles</a></li>
    </ul>
</nav>

<script src="{% static "js/toggle-sidebar.js" %}"></script>