{% load static %}
<header class="card-title">
    <h1>Leg day</h1>
</header>
<ul class="card-downloads">
    <!-- Format files -->
    <li>
        <a href="">
            <img class="card-downloads-icons" 
                src="{%static "img/icons/file-formats/csv.svg"%}" 
                alt=""
                title="Download your workout as CSV file.">
        </a>
    </li>
    <li>
        <a href="">
            <img class="card-downloads-icons"
                src="{%static "img/icons/file-formats/pdf.svg"%}" 
                alt=""
                title="Download your workout as PDF file.">
        </a>
    </li>
    <li>
        <a href="">
            <img class="card-downloads-icons" 
                src="{%static "img/icons/file-formats/txt.svg"%}" 
                alt=""
                title="Download your workout as TXT file.">
        </a>
    </li>
    <li>
        <a href="">
            <img class="card-downloads-icons" 
                src="{%static "img/icons/file-formats/xls.svg"%}" 
                alt=""
                title="Download your workout as Excel(XLS) file.">
        </a>
    </li>
</ul>
<a href="" class="card-cta"><b>View leg day!</b></a>
<div class="mt-4">
    <div class="row">
        <div class="col-4">
            <div class="mt-3">
                <h4>2563</h4>
                <p class="mb-0 text-muted">Number of Exercises</p>
            </div>
        </div>
        <div class="col-4">
            <div class="mt-3">
                <h4>6952</h4>
                <p class="mb-0 text-muted">Income amounts</p>
            </div>
        </div>
        <div class="col-4">
            <div class="mt-3">
                <h4>1125</h4>
                <p class="mb-0 text-muted">Total Transactions</p>
            </div>
        </div>
    </div>
</div>