{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    <main class="main-content">
        {% if is_add_workout %}
            <div class="form-content">
                <form action="" method=POST>
                    {% csrf_token %}
                    <div>
                        {{form.name.label}}:
                        {{form.name}}
                    </div>
                    <div>
                        {{form.set_exercise_relationships.label}}:
                    </div>
                    <section class="flex-container centered-x centered-y">
                        {{form.set_exercise_relationships}} 
                        <a href="{% url "workout:add-set_exercise_relationship" %}" target="_blank">
                            <img 
                            src="{% static "img/icons/icon-addlink.svg" %}" alt=""
                            title="Add new Set X Exercise relationship">
                        </a>
                    </section>
                    
                    <button class="form-cta" type="submit">Submit</button>
                </form>
            </div>
        {% endif %}
        {% if is_add_set_exercise_relationship %}
            <div class="form-content">
                <form action="" method=POST>
                    {% csrf_token %}
                    {{form}}
                    <button class="form-cta" type="submit">Submit</button>
                </form>
            </div>
        {% endif %}
        {% if is_myworkouts %}
            <section class="main-content-cards">
                {% for workout in workouts %}
                <article class=" main-content-cards card">
                    <header class="card-title">
                        <h1>{{workout.name}}</h1>
                    </header>
                    <ul class="card-downloads">
                    <p><b>Download your Workout:</b></p>
                
                        <!-- Format files -->
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/csv.svg"%}" 
                                    alt=""
                                    title="Download your workout as CSV file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-pdf" workout.slug%}">
                                <img class="card-downloads-icons"
                                    src="{%static "img/icons/file-formats/pdf.svg"%}" 
                                    alt=""
                                    title="Download your workout as PDF file.">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/txt.svg"%}" 
                                    alt=""
                                    title="Download your workout as TXT file.">
                            </a>
                        </li>
                        <li>
                            <a href="{% url "workout:download-xls" workout.slug%}">
                                <img class="card-downloads-icons" 
                                    src="{%static "img/icons/file-formats/xls.svg"%}" 
                                    alt=""
                                    title="Download your workout as Excel(XLS) file.">
                            </a>
                        </li>
                    </ul>
                    <div class="card-section">
                        <hr class="section-break">
                        <div>
                            <h4>{{workout.get_total_exercises}}</h4>
                            <p>Number of Exercises</p>
                        </div>
                        <hr class="section-break">
                    </div>
                    <a href="{{workout.get_absolute_url}}" class="card-cta"><b>View {{workout.name}} Workout!</b></a>
                </article>
                {% endfor %}
            </section>
        {% endif %}
        {% if is_myworkout %}
        <table class="my-workouts-table">
            <thead>
              <tr>
                <th scope="col">Exercises</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps margin</th>
              </tr>
            </thead>
            <tbody>
                {% for exercise in workout.set_exercise_relationships.all %}
                    <tr>
                        <td><a href="{{exercise.exercise.get_absolute_url}}">{{exercise.exercise.name}}</a></td>
                        <td>{{exercise.sets}}</td>
                        <td>{{exercise.get_reps_margin}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </main>
{% endblock content %}
