{% extends "base.html" %}
{% load static %}

{% block content %}
    <a href="{% url "user:logout" %}">
        <img src="{% static "img/icons/exit.svg" %}"
        alt=""
        style="height:64px; border: 2px solid white;">
    </a>
    <main class="main-content">
        <div class="user-container">
            <section class="my-workouts-container">
                {% if not my_workouts %}
                    <a style="color: inherit;" href="{% url "workout:add-workout" %}">+ Add Workout</a>
                {% else %}
                    <details class="user-card-details">
                        <summary>
                            My Workouts:
                            <div class="inline">
                                <a target="_blank" href="{% url "workout:add-workout" %}">
                                    <img src="{% static "img/icons/icon-addlink.svg" %}" 
                                    title="Add a Workout">
                                </a> 
                            </div>
                        </summary>
                        <ul class="user-card-details-list">
                            {% for workout in my_workouts %}
                                <li>
                                    <div class="flex-container space-between">
                                        <a href="{{workout.get_absolute_url}}">
                                            <span style="font-size:10px; vertical-align: middle;">➤</span> {{workout.name}}
                                        </a>
                                        <div>
                                            <a href="{% url "workout:delete-myworkout" workout.slug %}">
                                                <img src="{% static "img/icons/icon_deletelink.svg" %}" title="Delete Workout">
                                            </a>
                                            <a href="{% url "workout:change-myworkout" workout.slug %}">
                                                <img src="{% static "img/icons/icon-changelink.svg" %}" title="Change Workout">
                                            </a>
                                        </div>
                                    </div> 
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                {% endif %}
            </section>
            <section class="another-container">
                oi
            </section>
        </div>
       
    </main>
    
{% endblock content %}