{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    {% if is_bone %}
        <div class="flex-container justify-right">
            <form action="" method="GET" class="filter-form">
                <select class="filter-form-select" name="is_spine_bone">
                    <option value="0"><a href="?is_spine_bone=0">Show All Bones</a></option>
                    <option value="1"><a href="?is_spine_bone=1">Show Vertebras</a></option>
                    <option value="2"><a href="?is_spine_bone=2">All bones (except vertebra)</a></option>
                </select>
                <button type="submit" class="filter-cta">Filter</button>
            </form>
        </div>
    {% endif %}
    <main class="main-content">
        <section class="main-content-cards">
            {% if is_description %}
                <article class="main-content-cards card-opened">
                    <header class="card-title">
                        <h1> {{item.name}} </h1>
                        <h4><em> {{item.scientific_name}} </em></h4>
                    </header>
                    <div class="card-description">
                        <img src="{{item.cover.url}}" alt="" class="card-description-icon">
                        {% if is_bone_detail %}
                            {% if muscles %}
                                <details class="card-details">
                                    <summary>
                                        <b>Associated Muscles:</b>
                                    </summary>
                                    <ul class="card-details-list">
                                        {% for muscle in item.muscles.all %}
                                            <li>{{muscle.scientific_name}}</li>
                                        {% endfor %}
                                    </ul>
                                </details>  
                            {% endif %}
                        {% endif %}
                        {% if is_joint %}
                            <details class="card-details">
                                <summary>
                                    <b>Allowed movements:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% for move in item.allowed_movements.all %}
                                        <li>{{move.type_name}}</li>
                                    {% endfor %}
                                </ul>
                            </details>         
                            <details class="card-details">
                                <summary>
                                    <b>Bones:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% for bone in item.bones.all %}
                                        <li><a href="{{bone.get_absolute_url}}">{{bone.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </details>            
                            <details class="card-details">
                                <summary>
                                    <b>Joint type:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% for type in item.joint_type.all %}
                                        <li>{{type.type_name}}</li>
                                    {% endfor %}
                                </ul>
                            </details>                  
                        {% endif %}
                        {% if is_muscle %}
                            <details class="card-details">
                                <summary>
                                    <b>Actions:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% if item.origins.all %}
                                        {% for act in item.action.all %}
                                            <li>
                                                {{act.type_name}}:
                                                {% for muscle in item.origins.all %}
                                                    {% if act in muscle.action.all %}
                                                        <em>{{muscle.name}}</em>;
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        {% for act in item.action.all %}
                                            <li>{{act.type_name}}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </details>   
                            <details class="card-details">
                                <summary>
                                    <b>Origin:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% if item.origins.all %}
                                        {% for head in item.origins.all %}
                                            {% for bone in head.origin.all %}
                                                <li>
                                                    <em>{{ head.name }}</em> (<a href="{{bone.get_absolute_url}}">{{bone.name}}</a>)
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for origin in item.origin.all %}
                                            <li><a href="{{origin.get_absolute_url}}">{{origin.name}}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </details> 
                            <details class="card-details">
                                <summary>
                                    <b>Insertion:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% for insertion in item.insertion.all %}
                                        <li><a href="{{insertion.get_absolute_url}}">{{insertion.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </details>
                            <details class="card-details">
                                <summary>
                                    <b>Related exercises:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% for exercise in item.related_exercises.all %}
                                        <li><a href="{{exercise.get_absolute_url}}">{{exercise.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </details>
                        {% endif %}
                        {% if is_exercise %}
                            <details class="card-details">
                                <summary>
                                    <b>Muscles worked:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% for muscle in item.muscle_group.all %}
                                        <li><a href="{{muscle.get_absolute_url}}">{{muscle.name}}</a></li>
                                    {% endfor %}
                                    {% for muscle in item.muscles.all %}
                                        <li>{{muscle.name}}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                            <details class="card-details">
                                <summary>
                                    <b>Resistance profile:</b>
                                </summary>
                                <ul class="card-details-list">
                                    <li>{{item.get_resistance_profile_display}}</li>
                                </ul>
                            </details>
                            <details class="card-details">
                                <summary>
                                    <b>Equipment:</b>
                                </summary>
                                <ul class="card-details-list">
                                    {% if item.is_dumbell %}
                                        <li>Dumbell</li>
                                    {% elif item.is_barbell %}
                                        <li>Barbell</li>
                                    {% elif item.is_cable %}
                                        <li>Cable</li>
                                    {% elif item.is_machine %}
                                        <li>Machine</li>
                                    {% endif %}
                                </ul>
                            </details>
                            <details class="card-details">
                                <summary>
                                    <b>How to do {{item.name}}:</b>
                                </summary>
                                <ul>
                                    {{item.steps|safe}}
                                </ul>
                            </details>
                        {% endif %}
                        <details class="card-details">
                            <summary>
                                <b>Description:</b>
                            </summary>
                            <p>{{item.description|safe}}</p>
                        </details>
                        {% if item.attribution %}
                        <details class="card-details">
                            <summary>
                                <b>Attribution: <i class="fa-solid fa-closed-captioning"></i></b>
                            </summary>
                            <p>{{item.attribution|safe}}</p>
                        </details>
                           
                        {% endif %}
                    </div>
                </article>
            {% else %}
                {% for item in items %}
                    <article class="main-content-cards card">
                        <header class="card-title">
                            <h1> {{item.name}} </h1>
                        </header>
                        <img class="card-icon" src="{{item.cover.url}}" alt="">
                        <a href="{{item.get_absolute_url}}" class="card-cta"><b>Know the {{item.name}}!</b></a>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </main>
{% endblock content %}
